<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Management_Base_De_Donnees.Properties.Settings.ManagementsConnectionString"
            connectionString="Data Source=DESKTOP-D7RUA3Q\SQLEXPRESS;Initial Catalog=Managements;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>